<%= render "layouts/navbar"%>

<br><br>
<h1><%= @post.title %></h1> 
<br>
<%= @post.content %>


##
  1. WORK ON ADDING COMMENTS SECTION NEXT
  2. Then most_viewed_posts method (limit 10) -use impressionist gem... make class method
  3. Omniauth for facebook
  4. fields_with_errors validations for new posts (no blank fields)